
/*===============
Css Indexing
=================
* Base CSS
-----------------
* Preloader CSS
-----------------
-----------------
* Main Menu CSS
-----------------
-----------------
* Support Area CSS
-----------------
-----------------
* Header-area CSS
-----------------
-----------------
* About Community
-----------------
-----------------
* Service Section
-----------------
-----------------
* Our Plan CSS
-----------------
-----------------
* Our top investor
-----------------
-----------------
* Testimonial Css
-----------------
-----------------
* Deposits & Payouts
-----------------
-----------------
* payment method
-----------------
-----------------
* Footer Section 
-----------------
-----------------
* Map Section
-----------------
-----------------
* Breadcumb  CSS
-----------------
-----------------
* Contact From 
-----------------
-----------------
* Get In Touch 
-----------------
-----------------
* About Us 
-----------------
-----------------
* Services CSS
-----------------
-----------------
* Faq Page Css
-----------------
-----------------
* Login Form Css
-----------------
-----------------
* Registration Form Css
-----------------
=================*/

/*=============
Base CSS 
==============*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 600;
	color:#373737;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
a:hover { 
    text-decoration: none 
}
.content_padding{
    padding:50px 0;
}
.padding-bottom-0{
    padding-bottom: 0px;
}
.padding-top-0{
    padding-top: 0px;
}
.section-padding.padding-bottom-0{
    padding-bottom: 0px;
}
.section-padding {
    padding: 100px 0;
}

.section-title h2 {
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #fff;
}

.section-title p {
    padding-bottom: 20px;
}
.color-text{
    color: #FF5B28;
}
.boxed-btn {
    display: inline-block;
    padding: 7px 25px;
    background: #FF5B28;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    transition: .5s;
}
.boxed-btn:hover,input[type="submit"]:hover{
    color: #fff;
    -webkit-box-shadow: 1px 3px 5px #333;
   -moz-box-shadow: 1px 3px 5px #333;
        box-shadow: 1px 3px 5px #333;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=1px, OffY=3px, Color='#333', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
}
.section-padding.padding-top-0 {
    padding-top: 0;
}
.section-title .color-text {
    color: #FF5B28;
}
textarea {
    width: 100%;
    border:1px solid #FF5B28;
    margin: 20px 0;
    padding: 20px;
}
input[type="tel"],input[type="url"],input[type="password"] {
    width: 47%;
    margin: 0 10px;
    border: 1px solid #FF5B28;
    padding: 5px 20px;
}

input[type="text"] {
    width: 47%;
    border:1px solid #FF5B28;
    padding: 5px 20px;
}

input[type="email"] {
    width: 47%;
    border:1px solid #FF5B28;
    padding: 5px 20px;
}
.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
}

.scroll-to-top i {
    width: 30px;
    height: 30px;
    background: #FF5B28;
    color: #fff;
    text-align: center;
    padding-top: 7px;
    -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
    -ms-border-radius: 3px;
     -o-border-radius: 3px;
        border-radius: 3px;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
    transition: .5s;
}

.scroll-to-top i:hover {
    background: #2C4065;
}
.slicknav_menu{
        display: none;
        background: #FF5B28;
    }
.service-section .section-title p,.about-community .section-title p {
    color: #fff;
}
button.submit-btn {
    background: #FF5B28;
    border: 1px solid #FF5B28;
    color: #fff;
}

button.submit-btn:hover {
    background: #FF5B28;
    -webkit-box-shadow: 0px 0px 7px #333;
   -moz-box-shadow: 0px 0px 7px #333;
        box-shadow: 0px 0px 7px #333;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=0px, OffY=0px, Color='#333', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
    border: 1px solid #FF5B28;
    color: #fff;

}
button.submit-btn:focus{
    background: #FF5B28;
    border: 1px solid #FF5B28;
    color: #fff;
}
/*================
Preloader Css 
=================*/
.spinner {
  margin: 25% auto;
  width: 100px;
  height: 100px;
  position: relative;
    
}
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FF5B28;
    z-index: 999999999;
    left: 0;
    top: 0;
    display: block;
}
.cube1, .cube2 {
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/*==================
Main Menu CSS
===================*/
.main-menu {
    background: #FF5B28;
    padding: 20px;
}
.main-menu ul {
    padding: 0;
    margin: 0;
}
.main-menu ul li {
    display: inline-block;
    list-style: none;
}

.slicknav_parent.slicknav_collapsed:hover a  {
  background: #2C4065;
}

.slicknav_parent.slicknav_open:hover a {
  background: transparent;
}
.main-menu li a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
}
.main-menu li a:hover {
    color: #2C4065;
}
.main-menu.nav-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px #333;
   -moz-box-shadow: 0px 0px 8px #333;
        box-shadow: 0px 0px 8px #333;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=0px, OffY=0px, Color='#333', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
}

.main-menu.nav-fixed .logo img {
    max-width: 143px;
    bottom: 12px;
    margin-bottom: -6px;
    margin-top: 10px;
}

.main-menu.nav-fixed ul li {
    padding: 10px 15px;
}
.slicknav_nav a {
    text-transform: uppercase;
}
.main-menu ul li {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    padding-bottom: 0;
}

.main-menu li ul {
    position: absolute;
    width: 250px;
    right: 0;
    top: 0;
    background: #FF5B28;
    z-index: 22;
    /*margin-top: 150px;*/
    opacity:0;
    visibility:hidden;
    transition:.5s;
    /*padding-top: 10px;*/
}

.main-menu li ul li {
    padding: 11px 0;
    display: block;
    text-align: center;
}
.main-menu ul li ul li:hover a{
    color: #fff;
}
.main-menu ul li ul li:hover {
    background: #2C4065;
}
.main-menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    margin-top: 55px;
}
.main-menu.nav-fixed ul li:hover ul{
margin-top: 35px;
}


.mobile-logo {
      background: transparent;
      position: absolute;
      left: 4px;
      top: 3px;
      width: 134px;
      display: none;
    }

/*==================
Support Area CSS
===================*/
.support-wrapper {
    background: #fff;
    -webkit-border-radius: 0 0 20px 20px;
   -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
     -o-border-radius: 0 0 20px 20px;
        border-radius: 0 0 20px 20px;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
}
.support-info i {
    color: #FF5B28;
}
.support-info p {
    display: inline-block;
    padding-left: 20px;
    line-height: 1.5;
    color: #2c4065;
}
.support-info p:last-child {
    padding-right: 20px;
}
.support-info {
    padding: 10px 0 0 0;
}
.support-bar {
    background: transparent;
    position: absolute;
    /*top: 100px;*/
    left: 0;
    width: 100%;
    z-index: 2;
}
/*==================
Header-area CSS
===================*/


.head-slider .owl-dots div {
  height: 10px;
  width: 10px;
  background: #fff;
  display: inline-block;
  margin: 2px;
  -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */ 
}
.head-slider .owl-dots div.active {
  background: #FF5C31;
}
.head-slider .owl-dots {
     text-align: center;
    margin-top: 20px;
    position: absolute;
    left: 49%;
    bottom: 5%;
}
.head-slider .owl-nav div:hover{
    background: #FF5C31;
    color: #fff;
}
.head-slider .owl-nav div {
    position: absolute;
    left: 2%;
    text-align: center;
    top: 50%;
    background: #fff;
    color: #FF5C31;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
    padding-top: 9px;
    transition: .5s;
    text-align: center;
}
.head-slider .owl-nav div.owl-next {
  left: auto;
  right: 2%;
}
.header-bg-2{
    background: url(../img/header-bg-2.jpg);
    background-position: center;
    background-size: cover;
}
.slider {
    position: relative;
    z-index: 1;
}

.slider:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .6;
    z-index: -1;
}
.single-header.slider {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-bg{
    background: url('../img/header-bg.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
}    
.header-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.header-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    content: "";
    opacity: .2;
    z-index: -1;
}
.header-section h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}

.header-section h1 span {
    display: block;
    color: #ff5b28;
}

.header-section p {
    font-weight: 300;
    color: #fff;
}
/*==================
About Community CSS
===================*/

.about-community {
    background: #FF5B28;
    color: #fff;
    font-weight: 100;
    line-height: 1.9em;
}
.about-community {
    position: relative;
}

.about-community:after {
    position: absolute;
    width: 100%;
    bottom: -100px;
    left: 0;
    content: "";
 /*   border-left: 672px solid transparent;
    border-right: 672px solid transparent;*/
    border-top: 100px solid #FF5B28;
}

/*==================
Service Section CSS
===================*/
.service-section {
    background: #2C4065;
    color: #fff;
}
.service-wrapper {
    padding: 30px;
    transition: .5s;
    margin-bottom: 20px;
    background: #566684;
}

.service-icon {
    font-size: 40px;
    display: inline-block;
    padding: 10px;
}

.service-title {
    text-transform: uppercase;
}
.service-wrapper:hover {
    background: #FF5B28;
}
.service-wrapper.active {
    background: #FF5B28;
}
/*==================
Our Plan CSS
===================*/
.our-plan .section-title p {
    color: #333;
}

.our-plan {
    color: #2c4065;
}

.our-plan .section-title h2 {
    color: #FF5B28;
}

.our-plan .section-title {
    padding-bottom: 50px;
}
.price-table-header {
    padding: 30px 20px;
    background: #FF5B28;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-border-top-left-radius: 20px;
   -moz-border-top-left-radius: 20px;
    -ms-border-top-left-radius: 20px;
     -o-border-top-left-radius: 20px;
        border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
   -moz-border-top-right-radius: 20px;
    -ms-border-top-right-radius: 20px;
     -o-border-top-right-radius: 20px;
        border-top-right-radius: 20px;

    padding-bottom: 10px;
    position: relative;
}

.price-table-header h4 {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
}

.price-table-body {
    background: #2C4065;
    color: #fff;
    text-transform: uppercase;
    padding: 50px 20px;
}

.price-table-body p {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    margin-bottom: 7px;
}

.min-price h6 {
    color: #fff;
    font-size: 12px;
    padding-top: 20px;
}

.min-price h6 span {
    display: block;
}

.price-bar p {
    border: none;
    padding: 0px;
}
.pricebar {
    background: #fff;
    width: 100%;
    display: inline-block;
    height: 5px;
    border-radius: 10px;
    position: relative;
}

.pricebar:before {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #FF5B28;
    top: 0;
    left: 0;
    content: "";
    border-radius: 10px;
}

.pricebar:after {
    position: absolute;
    left: 48%;
    top: -5px;
    width: 15px;
    height: 15px;
    background: #FF5B28;
    content: "";
    border-radius: 50%;
}
.price-table {
    position: relative;
}

.price-table-footer {
    position: absolute;
    left: 25%;
    bottom: -20px;
}
.table>tbody>tr>th{
    border: none;
}
table.table.main-table tbody tr:nth-child(1):after{
        display: none;
    }
table.table.main-table
     tr:nth-child(1) {
        color: #FF5B28;
}
.price-table-header:after {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -34px;
    height: 10px;
    content: "";
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    border-top: 34px solid #FF5B28;
}
.contact-info {
    background: #2C4065;
    color: #fff;
    padding: 85px;
    -webkit-border-bottom-left-radius: 85px;
        border-bottom-left-radius: 85px;
   -moz-border-radius-bottomleft:  85px /* FF 1.0 - 12.0 */ 

}

.contact-title h4 {
    color: #fff;
    text-transform: uppercase;
}

.contact-title h4 span {
    display: block;
    font-weight: 300;
}

.contact-details {
    text-transform: uppercase;
    font-weight: 300;
}

.contact-details i {
    color: #FF5B28;
}

.discunt-text {
    background: #FF5B28;
    -webkit-border-top-right-radius: 85px;
   -moz-border-top-right-radius: 85px;
    -ms-border-top-right-radius: 85px;
     -o-border-top-right-radius: 85px;
        border-top-right-radius: 85px;

   -webkit-border-bottom-left-radius: 85px;
        border-bottom-left-radius: 85px;
   -moz-border-radius-bottomleft:  85px; /* FF 1.0 - 12.0 */ 

    margin-left: -180px;
    padding: 50px;
}

.discunt-text h3 {
    font-size: 50px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}


.happy-clients-icon i {
    font-size: 35px;
    display: inline-block;
    background: #2C4065;
    padding: 20px 38px;
    z-index: 999;
    text-align: center;
}

.happy-clients-box {
    padding: 20px;
    background: #FF5B28;
}

.happy-clients-icon {
    margin-top: -20px;
    display: inline-block;
    position: relative;
}

.happy-clients-text {
    padding-top: 10px;
}

.happy-clients-text h4 {
    font-size: 36px;
}

.happy-clients-text h4 span {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

.happy-clients-icon:after {
    position: absolute;
    width: 50%;
    height: 20px;
    border-bottom: 30px solid #FF5B28;
    border-right: 55px solid transparent;
    content: "";
    left: 0;
    bottom: -1px;
    z-index: 999;
}

.happy-clients-icon:before {
    position: absolute;
    width: 50%;
    height: 28px;
    border-bottom: 30px solid #FF5B28;
    border-left: 55px solid transparent;
    content: "";
    right: 0;
    bottom: -1px;
    z-index: 9999;
}

.completed-projcets {
    background: #2C4065;
    color: #fff;
}

.happy-clients-text h4 {
    color: #fff;
}
/*==================
Our top investor CSS
===================*/
.top-investor .color-text {
    color: #FF5B28;
}

.single-investor-wrapper {
    padding: 20px;
    background: #2C4065;
    color: #fff;
    margin-top: 20px;
}

.single-investor-wrapper h4 {
    color: #fff;
    padding: 20px 0;
}

.single-investor-wrapper p {
    padding-bottom: 20px;
}
.single-investor-wrapper.color-onvestor{
    background: #FF5B28;
}

.top-investor .section-title p {
    color: #333;
}
/*==================
Testimonial CSS
===================*/
.slider-activation.owl-carousel .owl-item img {
    width: 60px;
}
.testimonial-section{
    background: #2C4065;
}
.testimonial-carousel {
    background: #fff;
    padding: 40px;
    -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
    -ms-border-radius: 14px;
     -o-border-radius: 14px;
        border-radius: 14px;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
    position: relative;
    z-index: 1;
}
.slider-activation .owl-dots div {
  height: 10px;
  width: 10px;
  background: #fff;
  display: inline-block;
  margin: 2px;
  -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */ 
}
.slider-activation .owl-dots div.active {
  background: #FF5C31;
}
.slider-activation .owl-dots {
  text-align: center;
  margin-top: 20px;
  position: absolute;
  left: 44%;
}
.slider-activation .owl-nav div:hover{
    background: #FF5C31;
    color: #fff;
}
.slider-activation .owl-nav div {
    position: absolute;
	left: -20%;
    text-align: center;
    top: 40%;
    background: #fff;
    color: #FF5C31;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
    padding-top: 9px;
    transition: .5s;
    text-align: center;
}
.slider-activation{
    position: relative;
}
.slider-activation .owl-nav div.owl-next {
  left: auto;
  right: -20%;
}

.slider-activation:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px -8px 3px -2px #d3561d;
   -moz-box-shadow: 1px -8px 3px -2px #d3561d;
        box-shadow: 1px -8px 3px -2px #d3561d;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=1px, OffY=8px, Color='#d3561d', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
    content: "";
    -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
    -ms-border-radius: 14px;
     -o-border-radius: 14px;
        border-radius: 14px;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
    z-index: -1;
}
.slider-activation:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 8px 3px -2px #d3561d;
   -moz-box-shadow: 1px 8px 3px -2px #d3561d;
        box-shadow: 1px 8px 3px -2px #d3561d;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=1px, OffY=8px, Color='#d3561d', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
    content: "";
    -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
    -ms-border-radius: 14px;
     -o-border-radius: 14px;
        border-radius: 14px;
/* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
    z-index: -1;
}
.profile-pic img {
    width: 60px;
    height: 60px;
    border: 2px solid #F66739;
}

.profile-pic {
    display: inline-block;
}

.testimoanial-top-text h4 {
    display: inline-block;
}

.testimoanial-top-text h4 span {
    display: block;
    font-weight: 300;
    font-size: 14px;
}

.testimoanial-top-text h4,.testimoanial-top-text p {
    position: absolute;
    left: 112px;
    top: 46px;
    line-height: 1.4;
}

.testimoanial-top-text p {
    text-align: right;
    right: 35px;
    top: 65px;
    color: #FF5B28;
}

.testimonial-bottom {
    padding: 0 31px;
    text-align: center;
    padding-top: 20px;
}

/*==================
Deposits And Payouts CSS
===================*/
.deposit-table {
    padding: 20px;
    background: #2C4065;
    color: #fff;
}

.deposit-title {
    background: #FF5B28;
    padding: 20px 0;
    margin: -20px;
    margin-bottom: 0;
}

.deposit-title h4 {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.main-table.table>thead>tr>th {
    color: #FF5B28;
    text-align: center;
    padding: 30px 0;
    border-bottom: none;
}

.main-table.table>tbody>tr>td {
    font-weight: 200;
    font-size: 18px;
    border-top: none;
    border-bottom: none;
    margin: 20px 0;
    padding: 40px 0;
}
table.table.main-table tbody tr {
    position: relative;
}
table.table.main-table
 th {
    text-align: center;
    padding: 30px 0;
}
table.table.main-table tbody tr:after {
    position: absolute;
    width: 76%;
    height: 1px;
    background: url(../img/table-line.png);
    content: "";
    left: 66px;
    margin-top: 75px;
    background-position:center;
    background-size: cover;;  
    
}
table.table.main-table tbody tr:before {
    position: absolute;
    width: 76%;
    height: 1px;
    background: url(../img/table-line.png);
    content: "";
    left: 66px;
    margin-top: 25px;
}
tr.head:before {
    opacity: 0;
    visibility: hidden;
    
}
tr.head{
   text-align: center; 
}
.asRange {
    width: 100%;
    background: #fff;
}
.asRange .asRange-selected {
    background-color: #FF5B28;
}
.asRange .asRange-pointer:before {
  background: #FF5B28;
}
.asRange .asRange-pointer:after {
  background: #FF5B28;
}
/*==================
Payment method CSS
===================*/
.payment-method {
    background: #FF5C31;
    padding-bottom: 200px;
    position: relative;
}
.section-title p {
    color: #fff;
}
.payment-logo {
    padding-top: 30px;
}
.payment-method:after {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
/*    border-left: 672px solid transparent;
    border-right: 672px solid transparent;*/
    content: "";
    border-bottom: 70px solid #2C4065;
}
/*==================
Footer Section CSS
===================*/
.footer-section {
    background: #2C4065;
    color: #fff;
}
.footer-logo {
    padding-bottom: 30px;
}

.footer-text {
    padding-bottom: 30px;
}

.footer-social-link h3 {
    color: #fff;
    text-transform: uppercase;
}

.social-link i {
    color: #fff;
    display: inline-block;
    padding: 5px;
    background: #595A5B;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    transition: .5s;
}

.social-link i:hover {
    background: #FF5B28;
}

.social-link {
    padding-bottom: 20px;
}
/*==================
Map Section CSS
===================*/
.map iframe{
    width: 100%;
    height: 400px;
    border:0;
}
/*==================
Breadcumb  CSS
===================*/
.breadcrumb-section h1 {
    text-transform: uppercase;
    color: #fff;
    }

.breadcrumb-section {
    color: #fff;
    position: relative;
    z-index: 1
}

.breadcrumb-section:after {
    position: absolute;
    background: #333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    opacity: .3;
    z-index: -1;
}
.breadcrumb-section.contact-bg{
    background: url(../img/contact-us.jpg);
    background-position: center;
    background-size: cover;
}

/*==================
Contact From CSS
===================*/
.contact-form {
    -webkit-box-shadow: 0 0 6px #c5c5c5;
   -moz-box-shadow: 0 0 6px #c5c5c5;
        box-shadow: 0 0 6px #c5c5c5;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=6px, OffY=0, Color='#c5c5c5', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
    margin-top: -100px;
    background: #fff;
    border-radius: 5px;
}
.contact-form h2 {
    color: #2C4065;
    text-transform: uppercase;
}

/*==================
Get In Touch CSS
===================*/

.get-in-touch h3 {
    padding-bottom: 100px;
}

.single-shape-box i {
    font-size: 30px;
    padding-bottom: 10px;
}

.single-shape-box {
    padding: 20px;
    background: #2C4065;
    color: #fff;
    position: relative;
}

.get-in-touch-text h4 {
    font-size: 30px;
    color: #fff;
}

.get-in-touch-text p {
    padding: 0;
    margin: 0;
}
.single-shape-box:before {
    position: absolute;
    left: 0;
    top: -49px;
    width: 100%;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 50px solid #2A3F63;
    content: "";
}
.single-shape-box:after {
    position: absolute;
    left: 0;
    bottom: -49px;
    width: 100%;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-top: 50px solid #2A3F63;
    content: "";
}
.single-shape-box.color-onvestor {
    background: #FF5C31;
}
.color-onvestor.single-shape-box:after {
    border-top: 50px solid #FF5C31;
}
.color-onvestor.single-shape-box:before {
    border-bottom: 50px solid #FF5C31;
}
.contact-form .email {
    margin-left: 40px;
}
p.captcha-code {
    font-size: 32px;
    padding-bottom: 30px;
    color: #FF5B28;
}

input.captcha {
    width: 100%;
    margin-top: 10px;
}

input[type="submit"] {
    background: #FF5B28;
    border: none;
    padding: 6px 20px;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    -webkit-transition: .5s
   -moz-transition: .5s
    -ms-transition: .5s
     -o-transition: .5s
        transition: .5s

}
.contact-icon {
    display: inline-block;
    font-size: 40px;
    color: #FF5B28;
    width: 70px;
    position: relative;
}

.contact-icon:after {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid #fff;
    content: "";
    -webkit-border-top-right-radius: 115px;
   -moz-border-top-right-radius: 115px;
    -ms-border-top-right-radius: 115px;
     -o-border-top-right-radius: 115px;
        border-top-right-radius: 115px;

    -webkit-border-top-left-radius: 115px;
   -moz-border-top-left-radius: 115px;
    -ms-border-top-left-radius: 115px;
     -o-border-top-left-radius: 115px;
        border-top-left-radius: 115px;
}

/*==================
About Us CSS
===================*/
.single-team-member:hover .member-name h4 {
    color: #FF5B28;
}

.single-team-member img {
    position: relative;
}

.member-hover {
    position: absolute;
    left: 20%;
    bottom: 200px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

    .member-hover a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #2C4065;
    text-align: center;
    line-height: 1.5;
    padding-top: 10px;
    border-radius: 50%;
    color: #fff;
    transition: .5s;
}
.member-name {
    background: #2C4065;
}

.member-name h4 {
    color: #fff;
}

.single-team-member:hover .member-name {
    background: #FF5B28;
}

.single-team-member:hover .member-name h4 {
    color: #fff;
}

.member-hover a:hover {
    background: #FF5B28;
    color: #fff;
}

.single-team-member:hover .member-hover {
    visibility: visible;
    opacity: 1;
    bottom: 110px;
}

.about-us-content h2 {
    font-size: 25px;
    padding-bottom: 30px;
}

.about-us-content p {
    line-height: 1.9;
    text-align: justify;
}

.member-name h4 {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    margin-bottom: 0;
}
.single-team-member{
    border:1px solid #2C4065;
}
.single-team-member:hover{
    border:1px solid #FF5B28;
}
.member-name h4 span {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
.img-shadow{
    -webkit-box-shadow: 0px 0px 3px #ccc;
   -moz-box-shadow: 0px 0px 3px #ccc;
        box-shadow: 0px 0px 3px #ccc;

filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=0px, OffY=0px, Color='#ccc', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
    height: 260px;
    width: 100%;
}
.member .section-title
 h2, .member {
    color: #333;
}

.section-title
 p {
    color: #333;
    padding-bottom: 50px;
}
.payment-method .section-title p {
    color: #fff;
}
/*==================
Services CSS
===================*/
.service-us-page .service-wrapper {
    margin-top: 20px;
    color: #fff;
    -webkit-box-shadow: 0 0 3px #ccc;
   -moz-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;


filter:progid:DXImageTransform.Microsoft.dropshadow(
    OffX=3px, OffY=0, Color='#ccc', Positive='false'
); /* IE 5.5 */ 
border-collapse: separate; /* Required by IE 9 */
}

.service-us-page .service-wrapper:hover {
    color: #fff;
}

/*==================
Faq Page Css
===================*/


.panel-default>.panel-heading {
  color: #fff;
  background-color: #FF5B28;
  border-color: #FF5B28;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.panel-default>.panel-heading a:focus {
    text-decoration: none;
}
.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #FF5B28;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

/*==================
Login Form Css
===================*/

.main{
    margin-top: 70px;
}

h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}
.main-login.main-center img {
    background: #FF5B28;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 20%;
}
.main-login.main-center input[type="text"],.main-login.main-center input[type="password"]{
    border:1px solid #ddd;
    margin: 0;
}
/*==================
Registration Form Css
===================*/

.register-form input[type=text] {
    width: 263px;
    margin-left: 73px;
}

.register-form input[type=email] {
    margin-left: 112px;
    width: 261px;
}

.register-form #register_password {
    width: 262px;
    margin-left: 80px;
}

.register-form #first_name {
    margin-left: 71px;
}
.register-form input[type=submit] {
    width: 264px;
    margin-left: 40%;
}

/*===========
Swhitcher Css
============*/
.Switcher:after {
   position: absolute;
    width: 60px;
    height: 56px;
    background: #fff;
    left: -50px;
    top: 0;
    content: "";
    -moz-border-radius: 5px; 
    -ms-border-radius: 5px; 
    -o-border-radius: 5px; 
    border-radius: 5px;
}

.Switcher i {
    position: absolute;
    left: -40px;
    z-index: 2;
    font-size: 35px;
    display: block;
    cursor: pointer;
    color: #999;
    top: 11px;
}
.Switcher.active{
    right: 0px;
}
.Switcher {
    position: fixed;
    right: -173px;
    top: 150px;
    width: 173px;
    height: 360px;
    background: #fff;
    z-index: 9;
    -moz-border-radius: 5px; 
    -ms-border-radius: 5px; 
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
}
.Switcher h5 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
.Switcher ul {
    padding: 0;
    margin: 0;
}
.Switcher li {
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
}

.theme-1 {
    background: #008EE7;
    color:#008EE7;
}
.theme-2 {
    background: #F95C32;
    color:#F95C32;
}
.theme-3 {
    background: #6B3097;
    color:#6B3097;
}
.theme-4 {
    background: #00B356;
    color:#00B356;
}
.theme-5 {
    background: #FF2559;
    color:#FF2559;
}
.theme-6 {
    background: #9141A9;
    color:#9141A9;
}
.theme-7 {
    background: #FF5455;
    color:#FF5455;
}
.theme-8 {
    background: #FF962B;
    color:#FF962B;
}
.theme-9 {
    background: #00A088;
    color:#00A088;
}
.theme-10 {
    background: #FF407F;
    color:#FF407F;
}
.theme-11 {
    background: #00BCD3;
    color:#00BCD3;
}
.theme-12 {
    background: #0C246C;
    color:#0C246C;
}
.theme-13 {
    background: #C11B55;
    color:#C11B55;
}
.theme-14 {
    background: #86C359;
    color:#86C359;
}

.r-class p {
    background: #ddd;
    padding: 10px 20px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px; 
    -o-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.r-class.active p,
.r-class p:hover {
    background: #333;
    color: #fff;
}
.mb15{margin-bottom:15px;}